@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#buttons{
    width: 400px;
    margin: 30px auto;
    padding: 30px 30px;
    border: black 1px solid;
}
#userPoint{
    height: 10vw;
    width: 10vw;
    position: absolute;
    left: 5vw;
    top: 2vw;
    border: black 3px solid;
    text-align: center;
    font-size: 2em;
    font-family: 'Asap', sans-serif;
}
#comPoint{
    height: 10vw;
    width: 10vw;
    position: absolute;
    right: 5vw;
    top: 2vw;
    border: black 3px solid;
    text-align: center;
    font-size: 2em;
    font-family: 'Asap', sans-serif;
}
#userPoint, #comPoint > div:first-of-type{
    padding-top: 1vw;
}
#result{
    overflow: hidden;
}